extends layout

block append content
	br
	.jumbotron
		.centered
			h2 Exit Survey
		br
		form(name = 'cap_survey', method = 'POST', action = '/submit_captcha_survey')
			.col-md-5.col-md-offset-1
				b
					|What is your native language? 
				br
				input(type = 'text', name = 'language')
				br
				br
				br
				b
					|Do you speak english?
				br
				input(type = 'radio', name = 'english', value = 'TRUE')
				|  Yes
				br
				input(type = 'radio', name = 'english', value = 'FALSE')
				|  No
				br
				br
				br
				b
					|What country are you in?
				br
				input(type = 'text', name = 'country')
				br
				b
					|If in the US, what state are you in?
				br
				input(type = 'text', name = 'state')
				br
				br
				br
				b
					|What is your age?
				br
				input(type = 'number', name = 'age', min = '0', value = '0')
				br
				br
				br
				b
					|What is your gender?
				br
				input(type = 'radio', name = 'sex', value = 'Male')
				|  Male
				br
				input(type = 'radio', name = 'sex', value = 'Female')
				|  Female
				br
				br
				br
				b
					|How much education do you have (or are getting)?
				br
				input(type = 'radio', name = 'education', value = 'Less that HS')
				|  Less than High School
				br
				input(type = 'radio', name = 'education', value = 'HS')
				|  High School
				br
				input(type = 'radio', name = 'education', value = 'AS')
				|  Associates Degree
				br
				input(type = 'radio', name = 'education', value = 'BS')
				|  Bachelor's Degree
				br
				input(type = 'radio', name = 'education', value = 'Greater than BS')
				|  Greater than Bachelor's Degree
				br
				br
				br
				b
					|What type of input did you use?
				br
				input(type = 'radio', name = 'input', value = 'Keyboard and Mouse')
				|  Keyboard and Mouse
				br
				input(type = 'radio', name = 'input', value = 'Touch')
				|  Touch
				br
				input(type = 'radio', name = 'input', value = 'Other')
				|  Other&nbsp;&nbsp;
				input(type = 'text', name = 'input_other')
					|     
				br
				br
				br
				b
					|Did you understand nouncaptcha's instructions?
				br
				input(type = 'radio', name = 'understood', value = 'TRUE')
				|  Yes
				br
				input(type = 'radio', name = 'understood', value = 'FALSE')
				|  No
				br
				br
			.col-md-5
				b
					|Were the images large enough and easy to understand?
				br
				input(type = 'radio', name = 'image_quality', value = 'TRUE')
				|  Yes
				br
				input(type = 'radio', name = 'image_quality', value = 'FALSE')
				|  No
				br
				br
				br
				b
					|Which style of CAPTCHA did you prefer?
				br
				input(type = 'radio', name = 'prefer_check', value = 'TRUE')
				|  Checkboxes
				br
				input(type = 'radio', name = 'prefer_check', value = 'FALSE')
				|  Text input
				br
				br
				br
				b
					|Did the answers to the check box CAPTCHA seem obvious?
				br
				input(type = 'radio', name = 'cap_obv', value = 'TRUE')
				|  Yes
				br
				input(type = 'radio', name = 'cap_obv', value = 'FALSE')
				|  No
				br
				br
				br
				b
					|Did the answers to the reCAPTCHA prompts seem obvious?
				br
				input(type = 'radio', name = 'recap_obv', value = 'TRUE')
				|  Yes
				br
				input(type = 'radio', name = 'recap_obv', value = 'FALSE')
				|  No
				br
				br
				br
				br
				b
					|Which CAPTCHA was easier?
				br 
				.text-muted
					|(the button closest to an option means it was much easier,
					|  toward the middle means both are similar)
				|reCAPTCHA
				|&nbsp;&nbsp;&nbsp;
				input(type = 'radio', name = 'easier', value = '1')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'easier', value = '2')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'easier', value = '3')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'easier', value = '4')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'easier', value = '5')
				|&nbsp;&nbsp;&nbsp;
				|Nouncaptcha
				br
				br
				br
				b
					|Which CAPTCHA was faster?
				br 
				.text-muted
					|(the button closest to an option means it was much faster,
					|  toward the middle means both are similar)
				|reCAPTCHA
				|&nbsp;&nbsp;&nbsp;
				input(type = 'radio', name = 'faster', value = '1')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'faster', value = '2')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'faster', value = '3')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'faster', value = '4')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'faster', value = '5')
				|&nbsp;&nbsp;&nbsp;
				|Nouncaptcha
				br
				br
				br
				b
					|Which CAPTCHA would you rather use for both mobile and desktop computing?
				br 
				.text-muted
					|(the button closest to an option means it is more preferable,
					|  toward the middle means both are similar)
				|reCAPTCHA
				|&nbsp;&nbsp;&nbsp;
				input(type = 'radio', name = 'preferable', value = '1')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'preferable', value = '2')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'preferable', value = '3')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'preferable', value = '4')
				|&nbsp;&nbsp;
				input(type = 'radio', name = 'preferable', value = '5')
				|&nbsp;&nbsp;&nbsp;
				|Nouncaptcha
				br
				br
				br
			.row
			br
			br
			.col-md-6.col-md-offset-3.centered
				b
					|How did you come across this survey?
				br
				input(type = 'text', name = 'how_found')
				br
				br
				b
					|Do you have any suggestions, comments, or input for nouncaptcha?
				br
				textarea(name = 'comments')
			.row
			input(type = 'text', id = 'uuid', name = 'uuid').hide
			input(type = 'text', id = 'recap_data', name = 'recap_data').hide
			input(type = 'text', id = 'prac_data', name = 'prac_data').hide
			input(type = 'text', id = 'cap_data', name = 'cap_data').hide
			script.
				document.getElementById('uuid').value = localStorage.getItem('cap_uuid');
				document.getElementById('recap_data').value = localStorage.getItem('recap_data');
				document.getElementById('prac_data').value = localStorage.getItem('prac_data');
				document.getElementById('cap_data').value = localStorage.getItem('cap_data');
			.centered
				input(type = 'submit', value = 'submit', onclick = 'localStorage.setItem("cap_survey_done", "true");').btn.btn-lg.btn-success
			br
			br
		.row
	.row



