extends layout

block append content
	h2 Practice the Noun CAPTCHA
	div(style = 'text-align: center;')
		div(id = 'noun_captcha')
	script(src='/socket.io/socket.io.js')
	script(src='/scripts/noun_captcha_prac.js')
