extends layout

block append content	
	.jumbotron.col-md-6.col-md-offset-3
		h2.centered That's all!
		br
		|If needed, your completion token is: 
		br
		div(id = 'token', style = 'display:inline-block;')
		script.
			if(sessionStorage.getItem('game_finished') == 'true') {
				document.getElementById('token').innerHTML = sessionStorage.getItem('token');
			} else {
				document.getElementById('token').innerHTML = 
					'Records indicate you did not play a game to completion.';
			}
		br
		br
		|Bookmark 
		a(href = '/game', target = '_blank')
			|  this link
		|  to play The Guessing Game again some time.
		br
		br
		a(href = '/game', target = '_blank').btn.btn-lg.btn-success.center-block
			|Play Again!
	.row
