extends layout

block append content
	div(style = 'display: inline-block; text-align: center;')
		h1 The Guessing Game
		h3 Please wait to connect with a partner.
		|Next game in:
		div(id='time', style = 'display: inline-block; text-align: center;')
		|  seconds
		script(src='/socket.io/socket.io.js')
		script(type='text/javascript').
			var socket = io.connect('');
			
			socket.on('connect', function() {
				console.log('check', socket.socket.connected);
			});
			
			socket.on('time', function (data) {
				document.getElementById('time').innerHTML = data;
			});
			
			socket.on('wait complete', function (data) {
				window.location.href = '/game';
			});
			
