extends layout

block append content
	div(style = 'text-align: center;').jumbotron
		h2 The Guessing Game
		|Guess a Noun your Partner is Thinking of

		script(src='/socket.io/socket.io.js')
		script(type='text/javascript').
			var socket = io.connect('');
			
			socket.on('connect', function() {
				console.log('check', socket.socket.connected);
			});
