extends layout

block append content
	div(id = 'placeholder').partner_up
		h3
			|nouncaptcha
		div(style='text-align: center;').row.jumbotron
			h1 The Guessing Game
			div(id='placeholder_message')
				|Please wait to connect with a game...
	div(id = 'loading').loading
		div(style='text-align: center;').row.jumbotron.loading-text
			|Loading new image...
	div(style = 'text-align: center;').jumbotron.game
		h2 The Guessing Game
		|Guess some <font color = 'red'>Nouns</font> your Partner is Thinking of
		br
		|(a <font color = 'red'>Noun</font> is a person, place, or thing)
		br
		br
		.row
		div.col-md-2.col-sm-12
			h4 Time Remaining: 
				div(style = 'display:inline-block', id = 'timer')
			|------
			h4 Score: 
				|  
				div(style = 'display:inline-block', id = 'score') 0
				|  points
			|------
			h4 Global Average:
				|  
				div(style = 'display:inline-block', id = 'average') 0
				|  points		
			br
		div.col-md-8.col-sm-12
			a(id = 'attribution', target = '_blank', title = "Click for image source")
				img(src = '', id = 'pic').img-responsive.center-block
			.row
			div(style = 'width:100%; height:3px; background-color:orange;')
				div(id = 'progress_bar', style = 'width: 0%; height:3px; background-color:#66CCFF;')
			.row
			a(href = 'javascript:flag_image()', id = 'flag_link', style = 'display: none')
				| Flag inappropriate/broken
			br
			br
			input(type = 'text', onkeypress = 'check_enter(event);', id = 'guess', spellcheck='true', autocapitalize='off', autocorrect='on', autofocus='autofocus')
			br
			a(href = 'javascript:send_guess();', id = 'submit_btn').btn.btn-sm.btn-success
				| Submit Guess
			|     
			a(href = 'javascript:request_skip();', id = 'skip_btn', title = '-25 points', style = 'display: none').btn.btn-sm.btn-success
				| Skip to Next Image
			br
			div(id = 'notifications', style = 'display: none;').callout
				br
		div.col-md-2.centered
			h3 Guesses:
			div(style = 'display:inline-block', id = 'guesses')
			br
			|-----
			.row
			h3 Off-Limits:
			div(style = 'display:inline-block', id = 'taboo')
		.row
	script.
		var continue_btn = '#{continue_btn}'
		var link = '#{link}';
		var continue_message = '#{continue_message}';
	script(src='/socket.io/socket.io.js')
	script(src='/scripts/guessing_game.js')
	