extends layout

block append content
	script.
		var link = '#{link}';
		var continue_message = '#{continue_message}';
	script(src='/socket.io/socket.io.js')
	script(src='/scripts/guessing_game.js')
	div(id = 'partner_up').partner_up
		h3
			|nouncaptcha
		div(style='text-align: center;').row.jumbotron
			h1 The Guessing Game
			div(id='waiting_message')
				|Please wait to connect with a partner.
				br
				|The maximum wait is:
				div(id='time', style = 'display: inline-block;')
				|.
	div(style = 'text-align: center;').jumbotron.game
		h2 The Guessing Game
		|Guess a <font color = 'red'>Noun</font> your Partner is Thinking of
		br
		|(a <font color = 'red'>Noun</font> is a person, place, or thing)
		br
		br
		.row
		div.col-md-2.col-sm-12
			h4 Time Remaining: 
				div(style = 'display:inline-block', id = 'timer')
			|------
			h4 Score:
				div(style = 'display:inline-block', id = 'score') 0
			br
		div.col-md-6.col-sm-12
			img(src = '', id = 'pic').img-responsive.center-block
			br
			input(type = 'text', onkeypress = 'check_enter(event);', id = 'guess', spellcheck='true', autocapitalize='off', autocorrect='on', autofocus='autofocus')
			br
			a(href = 'javascript:send_guess();', id = 'submit_btn').btn.btn-sm.btn-success
				| Submit
			|      
			a(href = 'javascript:request_skip();', id = 'skip_btn', title = '-250 points').btn.btn-sm.btn-success
				| Skip
			br
			div(id = 'notifications', style = 'display: none;').callout
				br
		div.col-md-2.col-sm-6
			h3 Guesses:
			div(style = 'display:inline-block', id = 'guesses')
		div.col-md-2.col-sm-6
			h3 Off-Limits:
			div(style = 'display:inline-block', id = 'taboo')
		.row
