
doctype html
html(lang="en")
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
meta(name='viewport', content='width=device-width, initial-scale=1')
div.container
	h3.text-muted
		|nouncaptcha
	block content
	div(style = 'text-align: center;')
		br
		a(href = 'https://github.com/cjjeakle/nouncaptcha', target = '_blank').btn.btn-lg.btn-success Project source code (GitHub)
	br
	br
	br
	br
	br
	
