
doctype html
html(lang="en")
link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
meta(name='viewport', content='width=device-width, initial-scale=1')
div.container
	a(href = '/')
		h3.text-muted.title
			|nouncaptcha
	block content
	br
	div(style='text-align:center;').row
		|Please contact
		a(href='mailto:nouncaptcha@umich.edu')
			|  nouncaptcha@umich.edu
		|  for help, or with any questions or comments.
		br
		|By 
		a(href = 'http://www.chrisjeakle.com', target = '_blank')
			|  Chris Jeakle.
		|&nbsp;&nbsp;&nbsp;///&nbsp;&nbsp;&nbsp;
		a(href = 'https://github.com/cjjeakle/nouncaptcha', target = '_blank')
			|View project source.
	br
	br
	br
	br
	br
	
