
doctype html
html(lang="en")
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.min.css')
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
meta(name='viewport', content='width=device-width, initial-scale=1')
div.container
	a(href = '/')
		h3.text-muted.title
			|nouncaptcha
	block content
	br
	div(style='text-align:center;').row
		|Please contact
		a(href='mailto:nouncaptcha@umich.edu')
			|  nouncaptcha@umich.edu
		|  for help, or with any questions or comments.
		br
		|By 
		a(href = 'http://www.chrisjeakle.com')
			|  Chris Jeakle.
		|&nbsp;&nbsp;&nbsp;///&nbsp;&nbsp;&nbsp;
		a(href = 'https://github.com/cjjeakle/nouncaptcha')
			|View project source.
	br
	br
	br
	br
	br
	
